.Chat {
  text-align: center;
}

.Chat-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.User-list {
  float: right;
  width: 15%;
  border-left: 1px solid grey;
  height: calc(100vh - 90px);
}

.Chat-text {
  height: calc(100vh - 125px);
  width: calc(100% - 145px);
  overflow: auto;
}

.Chat-input-wrapper {
  position: absolute;
  bottom: 0;
  width: 85%;
}

.Chat-message-wrapper {
  position: relative;
}
.Chat-message-signature {
  font-size: 12px;
  color: dimgray;
  position: absolute;
  bottom: -16px;
  left: 35px;
}